[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]

[bumpversion:file:jupyter_whitelist_env/__init__.py]

[bumpversion:file:tests/test_jupyter_whitelist_env.py]
